<!-- Item: Oliveira2016 -->
<li ><p>
D. A. B. Oliveira, Laura Leal-Taix&eacute;, Raul Queiroz Feitosa and Bodo Rosenhahn,
&ldquo;Automatic tracking of vessel-like structures from a single starting point,&rdquo;
<i>Computerized Medical Imaging and Graphics</i>,
vol. 47,

pp. 1-15,
January
2016.

<br />
<a href="javascript:toggleBibtex('Oliveira2016')">[BibTeX]</a>


</p>
<div id="bib_Oliveira2016" class="bibtex noshow">
<pre>
@article{Oliveira2016,
  author = {Oliveira, D. A. B. and Leal-Taix&eacute;, Laura and Feitosa, Raul Queiroz and Rosenhahn, Bodo},
  title = {Automatic tracking of vessel-like structures from a single starting point},
  journal = {Computerized Medical Imaging and Graphics},
  year = {2016},
  volume = {47},
  pages = {1--15}
}
</pre>
</div>
</li>
<!-- Item: Quirita2016 -->
<li ><p>
V. A. A. Quirita, G. A. O. P. Costa, P. N. Happ, R. Q. Feitosa, R. S. Ferreira, D. A. B. Oliveira and A. Plaza,
&ldquo;A New Cloud Computing Architecture for the Classification of Remote Sensing Data,&rdquo;
<i>IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing</i>,
vol. PP,
no. 99,
pp. 1-8,

2016.

<br />
<a href="javascript:toggleBibtex('Quirita2016')">[BibTeX]</a>


</p>
<div id="bib_Quirita2016" class="bibtex noshow">
<pre>
@article{Quirita2016,
  author = {V. A. A. Quirita and G. A. O. P. Costa and P. N. Happ and R. Q. Feitosa and R. S. Ferreira and D. A. B. Oliveira and A. Plaza},
  title = {A New Cloud Computing Architecture for the Classification of Remote Sensing Data},
  journal = {IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing},
  year = {2016},
  volume = {PP},
  number = {99},
  pages = {1-8},
  doi = {http://doi.org/10.1109/JSTARS.2016.2603120}
}
</pre>
</div>
</li>
<!-- Item: Ayma2015 -->
<li ><p>
V. A. Ayma, R. S. Ferreira, P. Happ, D. A. B. Oliveira, R. Feitosa, G. Costa, A. Plaza and P. Gamba,
&ldquo;Classification algorithms for big data analysis, a Map Reduce approach,&rdquo;
<i>ISPRS - International Archives of the Photogrammetry, Remote Sensing and Spatial Information Sciences</i>,
vol. XL-3/W2,

pp. 17-21,

2015.

<br />
<a href="javascript:toggleBibtex('Ayma2015')">[BibTeX]</a>


</p>
<div id="bib_Ayma2015" class="bibtex noshow">
<pre>
@article{Ayma2015,
  author = {Ayma, V. A. and Ferreira, R. S. and Happ, P. and Oliveira, D. A. B. and Feitosa, R. and Costa, G. and Plaza, A. and Gamba, P.},
  title = {Classification algorithms for big data analysis, a Map Reduce approach},
  journal = {ISPRS - International Archives of the Photogrammetry, Remote Sensing and Spatial Information Sciences},
  year = {2015},
  volume = {XL-3/W2},
  pages = {17--21}
}
</pre>
</div>
</li>
<!-- Item: Rademaker2015 -->
<li ><p>
A. Rademaker, D. A. B. Oliveira, V. Paiva, S. Higuchi, A. M. Sá and M. Alvim,
&ldquo;A linked open data architecture for the historical archives of the Getulio Vargas Foundation,&rdquo;
<i>International Journal on Digital Libraries</i>,
vol. 15,
no. 2,
pp. 153-167,

2015.

<br />
<a href="javascript:toggleBibtex('Rademaker2015')">[BibTeX]</a>


</p>
<div id="bib_Rademaker2015" class="bibtex noshow">
<pre>
@article{Rademaker2015,
  author = {Rademaker, A. and Oliveira, D. A. B. and Paiva, V. and Higuchi, S. and Sá, A. M. and Alvim, M.},
  title = {A linked open data architecture for the historical archives of the Getulio Vargas Foundation},
  journal = {International Journal on Digital Libraries},
  year = {2015},
  volume = {15},
  number = {2},
  pages = {153--167},
  doi = {http://doi.org/10.1007/s00799-015-0147-1}
}
</pre>
</div>
</li>
<!-- Item: Correia2014 -->
<li ><p>
M. M. Correia, J. P. Jesus, R. Feitosa and D. A. B. Oliveira,
&ldquo;The introduction of navigation in liver surgery in Brazil,&rdquo;
<i>Revista do Colégio Brasileiro de Cirurgiões (Impresso)</i>,
vol. 41,

pp. 451-454,

2014.

<br />
<a href="javascript:toggleBibtex('Correia2014')">[BibTeX]</a>


</p>
<div id="bib_Correia2014" class="bibtex noshow">
<pre>
@article{Correia2014,
  author = {Correia, M. M. and Jesus, J. P. and Feitosa, R. and Oliveira, D. A. B.},
  title = {The introduction of navigation in liver surgery in Brazil},
  journal = {Revista do Colégio Brasileiro de Cirurgiões (Impresso)},
  year = {2014},
  volume = {41},
  pages = {451--454}
}
</pre>
</div>
</li>
<!-- Item: Oliveira2013 -->
<li ><p>
D. A. B. Oliveira, R. Q. Feirosa and M. M. Correia,
&ldquo;Realidade Virtual e Saúde de Verdade,&rdquo;
<i>Rede Cancer - INCA</i>,
vol. 1,

pp. 5-7,

2013.

<br />
<a href="javascript:toggleBibtex('Oliveira2013')">[BibTeX]</a>


</p>
<div id="bib_Oliveira2013" class="bibtex noshow">
<pre>
@article{Oliveira2013,
  author = {Oliveira, D. A. B. and Feirosa, R. Q. and Correia, M. M.},
  title = {Realidade Virtual e Saúde de Verdade},
  journal = {Rede Cancer - INCA},
  year = {2013},
  volume = {1},
  pages = {5-7}
}
</pre>
</div>
</li>
<!-- Item: Camargo2012 -->
<li ><p>
F. F. Camargo, C. M. Almeida, G. A. O. P. Costa, R. Q. Feitosa, D. A. B. Oliveira, C. Heipke and R. S. Ferreira,
&ldquo;An open source object-based framework to extract landform classes,&rdquo;
<i>Expert Systems with Applications</i>,
vol. 39,

pp. 541-554,

2012.

<br />
<a href="javascript:toggleBibtex('Camargo2012')">[BibTeX]</a>


</p>
<div id="bib_Camargo2012" class="bibtex noshow">
<pre>
@article{Camargo2012,
  author = {Camargo, F. F. and Almeida, C. M. and Costa, G. A. O. P. and Feitosa, R. Q. and Oliveira, D. A. B. and Heipke, C. and Ferreira, R. S.},
  title = {An open source object-based framework to extract landform classes},
  journal = {Expert Systems with Applications},
  year = {2012},
  volume = {39},
  pages = {541--554}
}
</pre>
</div>
</li>
<!-- Item: Feitosa2011 -->
<li ><p>
R. Q. Feitosa, D. A. B. Oliveira, A. L. Veiga, R. P. Brito, J. L. B. Pinho and A. C. Censi,
&ldquo;Weighting Estimation for Texture-Based Face Recognition Using the Fisher Discriminant,&rdquo;
<i>Computing in Science and Engineering</i>,
vol. 13,
no. 3,
pp. 31-37,

2011.

<br />
<a href="javascript:toggleBibtex('Feitosa2011')">[BibTeX]</a>


</p>
<div id="bib_Feitosa2011" class="bibtex noshow">
<pre>
@article{Feitosa2011,
  author = {Feitosa, R. Q. and Oliveira, D. A. B. and Veiga, A. L. and Brito, R. P. and Pinho, J. L. B. and Censi, A. C.},
  title = {Weighting Estimation for Texture-Based Face Recognition Using the Fisher Discriminant},
  journal = {Computing in Science and Engineering},
  year = {2011},
  volume = {13},
  number = {3},
  pages = {31-37}
}
</pre>
</div>
</li>
<!-- Item: Oliveira2011a -->
<li ><p>
D. A. B. Oliveira, R. Q. Feirosa and M. M. Correia,
&ldquo;Medicina e tecnologia unidas contra o cancer,&rdquo;
<i>Rio Pesquisa - FAPERJ</i>,
vol. setembro,

pp. 15-17,

2011.

<br />
<a href="javascript:toggleBibtex('Oliveira2011a')">[BibTeX]</a>


</p>
<div id="bib_Oliveira2011a" class="bibtex noshow">
<pre>
@article{Oliveira2011a,
  author = {Oliveira, D. A. B. and Feirosa, R. Q. and Correia, M. M.},
  title = {Medicina e tecnologia unidas contra o cancer},
  journal = {Rio Pesquisa - FAPERJ},
  year = {2011},
  volume = {setembro},
  pages = {15-17}
}
</pre>
</div>
</li>
<!-- Item: Oliveira2011 -->
<li ><p>
D. A. B. Oliveira, Raul Q. Feitosa and Mauro M. Correia,
&ldquo;Segmentation of liver, its vessels and lesions from CT images for surgical planning,&rdquo;
<i>BioMedical Engineering OnLine</i>,
vol. 10,
no. 1,
pp. 30,

2011.

<br />
<a href="javascript:toggleBibtex('Oliveira2011')">[BibTeX]</a>
<a href="http://dx.doi.org/10.1186/1475-925X-10-30">[URL]</a>

</p>
<div id="bib_Oliveira2011" class="bibtex noshow">
<pre>
@article{Oliveira2011,
  author = {Oliveira, D. A. B. and Feitosa, Raul Q. and Correia, Mauro M.},
  title = {Segmentation of liver, its vessels and lesions from CT images for surgical planning},
  journal = {BioMedical Engineering OnLine},
  year = {2011},
  volume = {10},
  number = {1},
  pages = {30},
  url = {http://dx.doi.org/10.1186/1475-925X-10-30},
  doi = {http://doi.org/10.1186/1475-925X-10-30}
}
</pre>
</div>
</li>
<!-- Item: Costa2008 -->
<li ><p>
G. A. O. P. Costa, C. M. D. Pinho, R. Q. Feitosa, C. M. Almeida, H. J. H. Kux, L. M. G. Fonseca and D. A. B. Oliveira,
&ldquo;INTERIMAGE: Uma Plataforma Cognitiva Open Source para a Interpretação Automática de Imagens Digitais,&rdquo;
<i>Revista Brasileira de Cartografia</i>,
vol. 60,

pp. 331-337,

2008.

<br />
<a href="javascript:toggleBibtex('Costa2008')">[BibTeX]</a>


</p>
<div id="bib_Costa2008" class="bibtex noshow">
<pre>
@article{Costa2008,
  author = {Costa, G. A. O. P. and Pinho, C. M. D. and Feitosa, R. Q. and Almeida, C. M. and Kux, H. J. H. and Fonseca, L. M. G. and Oliveira, D. A. B.},
  title = {INTERIMAGE: Uma Plataforma Cognitiva Open Source para a Interpretação Automática de Imagens Digitais},
  journal = {Revista Brasileira de Cartografia},
  year = {2008},
  volume = {60},
  pages = {331-337}
}
</pre>
</div>
</li>
<!-- Item: Ferreira2016forthcoming -->
<li ><p>
R. S. Ferreira, D. A. B. Oliveira, P. N. Happ, G. A. O. P. Costa, R. Q. Feitosa, C. Bentes and P. Gamba,
&ldquo;Handling the Analysis of Large Volumes of Earth Observation Data on the Cloud,&rdquo;
<i>IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing</i>,




2016 forthcoming.

<br />
<a href="javascript:toggleBibtex('Ferreira2016forthcoming')">[BibTeX]</a>


</p>
<div id="bib_Ferreira2016forthcoming" class="bibtex noshow">
<pre>
@article{Ferreira2016forthcoming,
  author = {Ferreira, R. S. and Oliveira, D. A. B. and Happ, P. N. and Costa, G. A. O. P. and Feitosa, R. Q. and Bentes, C. and Gamba, P.},
  title = {Handling the Analysis of Large Volumes of Earth Observation Data on the Cloud},
  journal = {IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing},
  year = {2016 forthcoming}
}
</pre>
</div>
</li>
